<h2>Know Your Open Source</h2>
<h3>Enter Your Information Below to Get Started.</h3>

<div class="values">
	<h5>Discover Open Source</h5>
	<p>Quickly identify your open source.</p>

	<h5>Identify Vulnerabilities</h5>
	<p>No Scanning. Zero False Positive Rate.</p>

	<h5>Decrease Patch Time</h5>
	<p>Patch in days, not weeks.</p>
</div>

<%= render 'form' %>