html, body {
	font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}

h2 {
	font-size: 62px;
	color: #00aad2;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

h3 {
	font-size: 36px;
	margin-bottom: 40px;
	color: #888;
	text-align: center;
}

h4 {}

h5 {
	color: #087290;
	font-size: 42px;
	font-weight: 500;
	margin: 0 0 5px 0;
}

p {
	color: #6e9eb1;
	font-size: 26px;
	margin: 0 0 10px 0;
}

form {
	float: left;
	/*margin: 20px auto 0 auto;*/
	width: 358px;
	font-size:16px;
	padding: 20px;
	@include border-radius(8px);
	border: 1px solid #087290;
	label {
		color: #087290;
		float:left;
		margin: 0 0 5px 0;
		font-size: 20px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	}
	input[type="text"], input[type="password"], input[type="email"] {
		width: 345px;
		height: 20px;
		font-size: 18px;
		padding: 10px 5px;
		margin: 0 0 30px 0;
		@include border-radius(4px);
		border: 1px solid #087290;
		@include box-shadow(0 1px 5px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.6));
		color: #008cb0;
	}
	input[type="submit"] {
	color: #087290;
	font-size: 18px;
	text-shadow: 0 1px 0 #fff;
	padding: 10px 20px;
	background: #999;
	border: 1px solid #087290;
	@include border-radius(4px);
	@include background-image(linear-gradient(top, white, #dddddd)); 
	}


	background-color: #5ecaef;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(94, 202, 239)), to(rgb(0, 170, 210)));
	background-image: -webkit-linear-gradient(top, rgb(94, 202, 239), rgb(0, 170, 210));
	background-image: -moz-linear-gradient(top, rgb(94, 202, 239), rgb(0, 170, 210));
	background-image: -o-linear-gradient(top, rgb(94, 202, 239), rgb(0, 170, 210));
	background-image: -ms-linear-gradient(top, rgb(94, 202, 239), rgb(0, 170, 210));
	background-image: linear-gradient(top, rgb(94, 202, 239), rgb(0, 170, 210));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5ecaef', EndColorStr='#00aad2');



}

.container {
	width: 905px;
	margin: 0 auto;
}

.alert {
	color: #fff;
	background: red;
	display: block;
	line-height: 30px;
	width: 100%;
	padding: 0 5px;
	@include border-radius(3px);
	margin-bottom: 10px;
}

#error_explanation {
	li {
		color: #fff;
		background: red;
		display: block;
		line-height: 30px;
		width: 100%;
		padding: 0 5px;
		@include border-radius(3px);
		margin-bottom: 10px;
	}
}

.values {
	width: 460px;
	float: left;
	padding: 0 40px 0 0;
	p {
		margin-bottom: 20px;
	}
}

table {
	width: 900px;
	font-size: 14px;
	color: #444;
	th {
		padding: 5px;
	}
	tr {
		&:nth-child(2n){
		background: #f6f6f6;
	}
		td {
			padding: 5px 10px;
			.edit {
				float: right;
				a {
					font-size: 12px;
					color: #999;
					margin-left: 10px;
				}
			}
		}
	}
}

table, th, td {
	border: 1px solid #bbb;
}
