//colors
$red: #CE1111;
$green: #7bae1c;
$dark-blue: #005267;
$light-blue: #4898af;
$standard_border_color:#bbb;

//severity text colors
$magenta:#FF00CC;
$orange:#FF7603;
$yellow:#F4AF00;

.green{color:$green !important;}
.orange{color:$orange !important;}
.red{color:$red !important;}
.magenta{color:$magenta !important;}